@* Top Bar Section *@

<div class="top-bar">
    <span class="top-bar-message">You are currently preparing a new recipe post. Once submitted, you will not have the option to edit or delete your post.</span>
    <div class="top-bar-buttons">
        <button class="top-bar-button quit-button">Quit</button>
        <button class="top-bar-button save-button">Save</button>
    </div>
</div>

@code {
    
}