body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #333;
}

.sidebar {
    width: 90px;
    height: 100vh;
    background-color: #fff;
    color: #333;
    transition: width 0.3s ease-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 0 5px;
    z-index: 10001;
    justify-content: space-between;
}

.sidebar:hover {
    width: 250px;
}


.sidebar .top-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.sidebar .logo,
.sidebar .menu-item,
.sidebar .search-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}

.sidebar .logo {
    justify-content: center;
}

.sidebar .logo .logo-container {
    background-color: #555;
    border-radius: 20px;
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.sidebar .logo .logo-container svg {
    margin-left: 11px;
    margin-top: 10px;
}

.sidebar .logo svg,
.sidebar .menu-item svg,
.sidebar .search-container svg {
    flex-shrink: 0;
    margin-right: 15px;
    transition: margin 0.3s ease-out;
}

.sidebar .menu-item svg {
    margin-left: 11px;
}

.sidebar:hover .logo svg,
.sidebar:hover .menu-item svg,
.sidebar:hover .search-container svg {
    margin-right: 20px;
}

.sidebar .logo span {
    display: none;
}

.sidebar:hover .logo span {
    display: inline;
    margin-left: 10px;
    font-size: 20px;
}

.sidebar .search-container {
    position: relative;
}

.sidebar .search-icon svg {
    margin-left: 0px;
    margin-right: 0px;
}

.sidebar .search-icon,
.sidebar .search-input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: #aaa;
    border-radius: 18px;
    margin-bottom: 10px;
}

.sidebar .search-input input::placeholder {
    color: #ddd;
}

.sidebar .search-icon {
    justify-content: center;
}

.sidebar .search-input {
    display: none;
    justify-content: flex-start;
    transition: right 0.3s ease-out;
}

.sidebar:hover .search-icon {
    display: none;
}

.sidebar:hover .search-input {
    display: flex;
}

.sidebar .search-input input {
    border: none;
    background: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
    font-size: 16px;
}

.sidebar .menu-item span {
    display: none;
}

.sidebar:hover .menu-item span {
    display: inline;
    margin-left: 10px;
    font-size: 16px;
    text-wrap: nowrap;
    word-break: normal;
    word-wrap: normal;
}

.sidebar .bottom-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.sidebar .account-container {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    
    
}


.sidebar .account-container .profile-icon {
    margin-left: 12px;
}

.sidebar .account-container .user-data {
    display: none;
    flex-direction: column;
    margin-left: 10px;
    justify-content: left;
}


.sidebar:hover .account-container .user-data {
    display: flex;
}

.sidebar .account-container .user-data .user-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.sidebar .account-container .user-data .user-email {
    font-size: 14px;
    color: #777;
}


.sidebar .account-container .account-buttons {
    display: none;
    flex-direction: row;
    align-items: center;
    jusify-content: space-around;
}


.sidebar:hover .account-container .account-buttons {
    display: flex;
    gap: 10px;
}



.sidebar .account-container .account-buttons .login-btn {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
}

.sidebar .account-container .account-buttons .login-btn:hover {
    background-color: #eee;
}


.sidebar .account-container .account-buttons .register-btn {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 14px;
}

.sidebar .account-container .account-buttons .register-btn:hover {
    background-color: #eee;
}










