@page "/ingredients"
@inject IngredientService IngredientService

<h3>Ingredients</h3>

<ul>
    @foreach (var ingredient in ingredients)
    {
        <li>@ingredient.Name</li>
    }
</ul>

@code {
    private List<IngredientResponse> ingredients;

    protected override async Task OnInitializedAsync()
    {
        ingredients = await IngredientService.GetIngredientsAsync();
    }
}
