body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.form-wrapper {
    width: 65%;
    margin: 0 auto;
    padding: 40px 0;
    transition: left 0.3s ease-out;
}

@media (max-width: 768px) {
    .form-wrapper {
        width: 90%;
        padding: 35px 0;
    }
}


@media (max-width: 480px) {
    .form-wrapper {
        width: 100%;
        padding: 25px 15px;
    }
}