body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    background-color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
    margin-left: 90px;
    transition: margin-left 0.3s;
    width: 90%;
    margin-top: 40px;
    display: grid;
    height: 100vh;
}


main .main-items {
    width: 90%;
    margin: 0 auto;
}

.sidebar:hover + main {
    margin-left: 250px;
}


header h1 {
    margin: 0;
    font-size: 36px;
}

.search-container {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.search-input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 0.1px solid #eee;
    transition: box-shadow 0.3s;
    
}

.search-input:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.search-input:focus-within {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.search-input svg {
    flex-shrink: 0;
    margin-right: 10px;
}

.search-input input {
    border: none;
    background: none;
    color: #333;
    width: 100%;
    margin-left: 10px;
    outline: none;
    font-size: 20px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: nowrap;
}

.header-row h2 {
    margin: 0;
    font-size: 28px;
}

.header-row .header-button-container {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.create-button {
background-color: #fff;
    color: #333;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
}

.sort-button {
    background-color: #fff;
    color: #333;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    display: flex;
    gap: 30px;
    
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
}


.recipe-link {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    width: 100%;
    height: max-content;
}

.recipe-link:hover {
    color: #333;
}

.recipe-card {
    transition: right 0.3s ease-out;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 0.1px solid #eee;
    opacity: 1;
    
}


.recipe-card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.recipe-card img, .recipe-card .placeholder {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    opacity: 1;
}

.recipe-card .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.recipe-card .time-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #fff;
    color: #555;
    padding: 6px 12px;
    border-radius: 50px;
    font-size: 14px;
    opacity: 0.7;
    border: 0.1px solid #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recipe-card .title {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-top: 0.1px solid #eee;
    
    
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.pagination button {
    background-color: #fff;
    color: #333;
    padding: 20px 30px;
    border: 0.1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 0 5px;
    font-size: 18px;
    
}

@media (max-width: 768px) {

    .recipe-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
    }
    
    main {
        margin-left: 50px!important;
    }

    
    .header-row h2 {
        font-size: 24px;
    }

    .create-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .search-input input {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .recipe-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
    }


    main {
        margin-left: 30px!important;
    }
    
    
    .header-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-row h2 {
        margin-bottom: 10px;
        font-size: 22px;
    }

    .create-button {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    .search-container {
        width: 90%;
    }
    
    .create-recipe-button {
        background: white;
        border: 1px solid grey;
        border-radius: 15px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
    
    


    
}