@page "/register"
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="login-page">
    <main>
        <div class="left-side">
            <EditForm Model="registerModel" OnValidSubmit="HandleRegister">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label for="username">Username</label>
                <InputText id="email" class="form-control" @bind-Value="registerModel.Username" placeholder="Enter your username" />

                <label for="email">Email</label>
                <InputText id="email" class="form-control" @bind-Value="registerModel.Email" type="email" placeholder="Enter your email" />

                <label for="password">Password</label>
                <InputText id="password" class="form-control" @bind-Value="registerModel.Password" type="password" placeholder="Enter your password" />

                <div class="btn-group">
                <button type="submit" class="login-btn">Register</button>
                </div>

                <div class="links">
                    <a href="login">Already have an account?</a>
                </div>
            </EditForm>

                 <div class="alert-container">
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger">@errorMessage</div>
                }
                @if (!string.IsNullOrEmpty(successMessage))
                {
                    <div class="alert alert-success">@successMessage</div>
                }
                </div>
        </div>
        <div class="right-side"></div>
    </main>
</div>

@code {
    private RegisterRequest registerModel = new RegisterRequest();
    private string errorMessage;
    private string successMessage;



    private async Task HandleRegister()
    {
        var response = await Http.PostAsJsonAsync("/v1/user", registerModel);
        if (response.IsSuccessStatusCode)
        {
            successMessage = "Registration successful";
            errorMessage = string.Empty;
            Navigation.NavigateTo("/login");
        }
        else
        {
            errorMessage = "Registration failed. Please check your details.";
            successMessage = string.Empty;
        }
    }

    public class RegisterRequest
    {
        public string Username { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
